body{
  background: #F0F0F0;
}
.icon{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, #FD9C36 0%, #FCBE5C 80%);
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
  transform: translate(-50%, -50%);
  animation-name: move;
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.water {
  position: absolute;
  bottom: 0;
  background: rgba(0,190,177,.4);
  width: 200px;
}
.wave1 {
  height: 50px;
  border-top-right-radius: 100% 0px;
  border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.wave2 {
  height: 55px;
  border-top-right-radius: 100% 5px;
  border-top-left-radius: 100% 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.wave3 {
  height: 35px;
  border-top-right-radius: 100% 15px;
  border-top-left-radius: 100% 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.boat{
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%);
  background: #EE6648;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 100px;
  height: 35px;
}
.sail1{
  position: absolute;
  left: calc(50% + 20px);
  top: 85px;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 45px;
  border-color: transparent transparent transparent #FFF8ED;
}
.sail2{
  position: absolute;
  left: calc(50% - 25px);
  top: 90px;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 40px;
  border-color: transparent transparent #FFF8ED transparent;
}
@keyframes move{
  0%{
    left: 100px;
    background: #f95;
  }
  25%{
    background: #f95;
  }
  50%{
    background: #f95;
  }
  100%{
    left: 600px;
    background: #f95;
  }
}